body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main { 
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px;
    height: 100%;
}

section {
    margin-bottom: 20px;
}

#search-form {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    padding: 10px;
}

.formSpacing {
    padding-bottom: 10px;
    padding-top: 10px;
}

#weather-container {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border: 1px solid #3498db;
    height: 100%;
}

#forecast-container {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border: 1px solid #3498db;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#forecast {
    display: flex;
    flex-direction: row;
}

#search-history-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    border: 1px solid #3498db;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  #search-history {
    display: flex;
  }
  
  #search-history button {
    margin-bottom: 5px;
    background-color: #3498db; /* Light gray background color */
    padding: 5px; /* Add padding for spacing */
    border: 1px solid #ddd; /* Add border for better visibility */
  }

.forecast-box {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
}